@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/* ------- ESTILOS GENERALES ------- */
body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  font-family: 'Roboto Slab', serif; }
  body header {
    grid-area: header;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-image: radial-gradient(#222432, #171717); }
    body header #barra-nav {
      margin: 5px;
      padding: 5px;
      background-image: radial-gradient(#222432, #171717); }
      body header #barra-nav #home {
        margin-left: 100px; }
      body header #barra-nav #boton-hamburguesa {
        background-color: beige; }
      body header #barra-nav .menu {
        margin-right: 100px;
        flex-grow: 0; }
      body header #barra-nav #home, body header #barra-nav #menu-secciones a {
        text-decoration: none;
        font-family: 'Roboto Slab', serif;
        font-size: 18px;
        color: beige;
        transition: all .25s; }
        body header #barra-nav #home:hover, body header #barra-nav #menu-secciones a:hover {
          color: #C9D1D9;
          text-decoration: underline; }
  body main {
    grid-area: main;
    background-image: radial-gradient(#787878, #171717); }
  body #footer {
    grid-area: footer;
    background-image: radial-gradient(#222432, #171717); }
    body #footer div {
      margin: 5px;
      padding: 5px; }
      body #footer div .copyright {
        margin: 5px;
        padding: 5px;
        margin-left: 100px;
        font-family: 'Roboto Slab', serif;
        color: beige; }

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  color: #C9D1D9; }

/* ------- SECCION INICIO ------- */
.inicio-contenedor {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center; }
  .inicio-contenedor .inicio-imagen, .inicio-contenedor .inicio-titulo, .inicio-contenedor .inicio-tour {
    animation-name: aparecer;
    animation-duration: 1.5s;
    animation-iteration-count: 1; }
  .inicio-contenedor .inicio-titulo {
    margin-top: 50px;
    margin-bottom: 50px; }
  .inicio-contenedor .inicio-tour {
    display: flex;
    justify-content: space-evenly; }
    .inicio-contenedor .inicio-tour .primera-col, .inicio-contenedor .inicio-tour .segunda-col, .inicio-contenedor .inicio-tour .tercera-col {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .inicio-contenedor .inicio-tour .primera-col-items, .inicio-contenedor .inicio-tour .segunda-col-items, .inicio-contenedor .inicio-tour .tercera-col-items {
      font-size: 18px;
      color: #C9D1D9;
      background-color: #222432;
      border-radius: 10px;
      border: solid #171717 3px;
      width: 100%;
      margin: 5px;
      transition: all .25s; }
      .inicio-contenedor .inicio-tour .primera-col-items:hover, .inicio-contenedor .inicio-tour .segunda-col-items:hover, .inicio-contenedor .inicio-tour .tercera-col-items:hover {
        color: beige;
        font-size: 19px; }

/* ------- SECCION ABOUT ------- */
.about-contenedor {
  display: grid;
  grid-template-areas: "titulo titulo" "texto-uno imagen-uno" "texto-dos imagen-uno" "imagen-dos texto-tres";
  gap: 15px;
  font-family: 'Roboto Slab', serif;
  color: beige;
  margin: 120px;
  line-height: 2;
  font-size: 16px; }
  .about-contenedor .about-titulo {
    grid-area: titulo; }
  .about-contenedor .about-texto-uno {
    grid-area: texto-uno;
    text-shadow: black; }
  .about-contenedor .about-texto-dos {
    grid-area: texto-dos;
    text-shadow: black; }
  .about-contenedor .about-img-uno {
    grid-area: imagen-uno;
    height: 600px; }
  .about-contenedor .about-img-dos {
    grid-area: imagen-dos; }
  .about-contenedor .about-texto-tres {
    grid-area: texto-tres; }

/* ------- SECCION DISCOGRAFÍA ------- */
.discografia-contenedor {
  display: grid;
  grid-template-areas: "titulo titulo titulo titulo" "album-uno disco-uno album-dos disco-dos" "album-tres disco-tres album-cuatro disco-cuatro";
  gap: 30px;
  margin: 120px;
  line-height: 2; }
  .discografia-contenedor .discografia-titulo {
    grid-area: titulo; }
  .discografia-contenedor .album-uno {
    grid-area: album-uno; }
  .discografia-contenedor .disco-uno {
    grid-area: disco-uno; }
  .discografia-contenedor .album-dos {
    grid-area: album-dos; }
  .discografia-contenedor .disco-dos {
    grid-area: disco-dos; }
  .discografia-contenedor .album-tres {
    grid-area: album-tres; }
  .discografia-contenedor .disco-tres {
    grid-area: disco-tres; }
  .discografia-contenedor .album-cuatro {
    grid-area: album-cuatro; }
  .discografia-contenedor .disco-cuatro {
    grid-area: disco-cuatro; }
  .discografia-contenedor img, .discografia-contenedor iframe {
    border-radius: 20px;
    height: 250px;
    width: 250px;
    transition: all .5s; }
  .discografia-contenedor img:hover {
    height: 260px;
    width: 260px; }
  .discografia-contenedor iframe:hover {
    height: 420px;
    width: 310px; }

/* ------- SECCION GALERÍA ------- */
.galeria-imagenes {
  margin: 120px; }
  .galeria-imagenes #foto-uno, .galeria-imagenes #foto-tres, .galeria-imagenes #foto-cinco {
    margin-left: 37.5%; }
  .galeria-imagenes #foto-dos, .galeria-imagenes #foto-cuatro, .galeria-imagenes #foto-seis {
    margin-left: 25%; }
  .galeria-imagenes #carousel-prev {
    margin-left: 25%; }
  .galeria-imagenes #carousel-next {
    margin-right: 25%; }

.galeria-videos {
  margin: 120px;
  display: grid;
  grid-template-areas: "titulo titulo" "uno dos" "tres cuatro";
  gap: 20px;
  margin-top: 30px; }
  .galeria-videos .galeria-titulo-dos {
    grid-area: titulo; }
  .galeria-videos .video-uno {
    grid-area: uno; }
  .galeria-videos .video-dos {
    grid-area: dos; }
  .galeria-videos .video-tres {
    grid-area: tres; }
  .galeria-videos .video-cuatro {
    grid-area: cuatro; }
  .galeria-videos iframe:hover {
    width: 510px;
    height: 310px; }

/* ------- SECCION GALERÍA ------- */
.contacto-contenedor {
  text-align: center;
  margin: 120px;
  line-height: 2;
  animation-name: aparecer;
  animation-duration: 1.5s;
  animation-iteration-count: 1; }

h3, label {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #C9D1D9; }

.nombre, .email, .msj {
  width: 300px;
  margin-top: 10px;
  padding: 5px 5px;
  border-radius: 5px;
  line-height: 1.5; }

.enviar {
  border-radius: 5px;
  padding: 5px 5px; }

.logos-redes {
  margin-top: 20px; }

.logos-redes a {
  color: transparent;
  margin: 20px; }

.logos-redes a img {
  width: 30px;
  height: 30px; }

.logos-redes div a:hover img {
  width: 40px;
  height: 40px; }
