$margen: 120px;
$fuente: 'Montserrat', sans-serif;
$degrade-azul: radial-gradient(#222432, #171717);
$color-fondo: radial-gradient(rgb(120, 120, 120), #171717);
$color-letra: beige;
$color-titulo: #C9D1D9;
$letra-grande: 18px;
$letra-titulo: 30px;