/* ------- SECCION GALERÍA ------- */

.contacto-contenedor {
    text-align: center;
    margin: 120px;
    line-height: 2;
    animation-name: aparecer;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

h3, label {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #C9D1D9;
}

.nombre, .email, .msj  {
    width: 300px;
    margin-top: 10px;
    padding: 5px 5px;
    border-radius: 5px;
    line-height: 1.5;
}

.enviar {
    border-radius: 5px;
    padding: 5px 5px;
}

.logos-redes {
    margin-top: 20px;
}

.logos-redes a {
    color: transparent;
    margin: 20px;
}

.logos-redes a img {
    width: 30px;
    height: 30px;
}

.logos-redes div a:hover img {
    width: 40px;
    height: 40px;
}