/* ------- SECCION CONTACTO ------- */
@import "../variables/variables";


.contacto-contenedor {
    text-align: center;
    margin: $margen;
    line-height: 2;
    animation-name: aparecer;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    h3 {
        font-family: 'Roboto Slab', serif;
        font-size: 16px;
        color: #C9D1D9;
    }
    .form {
        .nombre, .email, .msj  {
            width: 300px;
            margin-top: 10px;
            padding: 5px 5px;
            border-radius: 5px;
            line-height: 1.5;
        }
        .enviar {
            border-radius: 5px;
            padding: 5px 5px;
        }
    }
    .logos-redes {
        margin-top: 20px;
        a {
            color: transparent;
            margin: 20px;
            img {
                width: 30px;
                height: 30px;
                &:hover {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
