/* ------- RESPONSIVE ------- */

body {
    @media screen and (max-width: 725px) {
        header{
            #barra-nav{
                #home {
                    margin-left: 10px;
                    font-size: 16px;
                }
                #menu-secciones a {
                    font-size: 16px;
                }
            }
        }
        .inicio-contenedor{
            .inicio-imagen {
                height: 200px;
                width: 350px;
            }
            .inicio-tour{
                .primera-col-items{
                    font-size: 16px;
                }
                .segunda-col-items{
                    font-size: 16px;
                }
                .tercera-col-items{
                    font-size: 16px;
                }
            }
        }
        #footer{
            div{    
                .copyright {
                    margin-left: 10px;
                    font-size: 16px;
                }
            }
        }     
        h2 {
            font-size: 20px;
        }   
    }

    @media screen and (max-width: 400px) {
        header{
            #barra-nav{
                #home {
                    font-size: 13px;
                }
                #menu-secciones a {
                    font-size: 13px;
                }
            }
        }
        .inicio-contenedor{
            .inicio-imagen {
                height: 150px;
                width: 300px;
            }
            .inicio-tour{
                .primera-col-items{
                    font-size: 13px;
                }
                .segunda-col-items{
                    font-size: 13px;
                }
                .tercera-col-items{
                    font-size: 13px;
                }
            }
        }
        #footer{
            div{    
                .copyright {
                    font-size: 13px;
                }
            }
        }     
        h2 {
            font-size: 15px;
        }
        h3 {
            font-size: 14px;
        }
        .nombre, .email, .msj  {
            width: 200px;
        }
        .nombre, .email {
            height: 30px;
        }
        .msj {
            height: 200px;
        }
        .enviar {
            height: 40px;
        }
        .form {
            font-size: 12px;
        }
    }
}