/* ------- ESTILOS GENERALES ------- */

@import "../variables/variables";

body {
    header {
        height: 60px;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        background-image: radial-gradient(#222432, #171717);
        #barra-nav {
            background-image: radial-gradient(#222432, #171717);
            #contenedor-nav{
            padding: 0rem;
                #home {
                    margin-left: 100px;
                    text-decoration: none;
                    font-family: $fuente;
                    font-size: 18px;
                    color: beige;
                }
                
                #boton-hamburguesa {
                    background-color: beige;
                    margin-right: 20px;
                }
                
                .menu {
                    margin-right: 100px;
                    flex-grow: 0;
                    #menu-secciones a {
                        text-decoration: none;
                        font-family: $fuente;
                        font-size: 18px;
                        color: beige;
                        transition: all .25s;
                        &:hover {
                            color: #C9D1D9;
                            text-decoration: underline;
                        }
                    }
                }
            }        
        }
    }    
    main {
        background-image: radial-gradient(rgb(120, 120, 120), #171717);
        margin-top: 60px;
    }
    #footer {
        height: 60px;
        background-image: radial-gradient(#222432, #171717);
        display: flex;
        align-items: center;
        div p    {
            margin: 0px;
            margin-left: 100px;
            font-family: $fuente;
            color: beige;
        }
    }
}

h2 {
    font-family: $fuente;
    font-size: 30px;
    color: #C9D1D9;
}


@media (max-width: 725px){
    // no me toma ni el home
    // ni las secciones
    #home {
        margin-left: 20px;
        font-size: 16px
    }
    #menu-secciones a {
        font-size: 16px;
    }
    #footer div .copyright {
        margin-left: 20px;
        font-size: 16px;
    }
    h2 {
        font-size: 20px;
    }  
}


@media (max-width: 400px) {
    // no me toma ni el home
    // ni las secciones
    #home {
        font-size: 13px;
    }
    #menu-secciones a {
        font-size: 13px;
    }
    #footer div .copyright {
        font-size: 13px;
    }     
    h2 {
        font-size: 15px;
    }
}