/* ------- ESTILOS GENERALES ------- */

@import "../variables/variables";
@import "../sass/extend";
@import "../sass/mixins";

body {
    header {
        @extend .header-footer;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        #barra-nav {
            @extend .header-footer;
            #contenedor-nav{
            padding: 0rem;
                #home {
                    margin-left: 100px;
                    @include estilos-nav;
                }
                
                #boton-hamburguesa {
                    background-color: $color-letra;
                    margin-right: 20px;
                }
                
                .menu {
                    margin-right: 100px;
                    flex-grow: 0;
                    #menu-secciones a {
                        @include estilos-nav;
                        transition: all .25s;
                        &:hover {
                            color: #C9D1D9;
                            text-decoration: underline;
                        }
                    }
                }
            }        
        }
    }    
    main {
        background-image: $color-fondo;
        margin-top: 60px;
    }
    #footer {
        @extend .header-footer;
        display: flex;
        align-items: center;
        div p    {
            margin: 0px;
            margin-left: 100px;
            font-family: $fuente;
            color: $color-letra;
        }
    }
}

h2 {
    @include estilos-titulos;
}


@media (max-width: 725px){
    // no me toma ni el home
    // ni las secciones
    #home {
        margin-left: 20px;
        font-size: 16px
    }
    #menu-secciones a {
        font-size: 16px;
    }
    // ^^^^^^
    #footer div .copyright {
        margin-left: 20px;
        font-size: 16px;
    }
    h2 {
        font-size: 20px;
    }  
}


@media (max-width: 400px) {
    // no me toma ni el home
    // ni las secciones
    #home {
        font-size: 13px;
    }
    #menu-secciones a {
        font-size: 13px;
    }
    // ^^^^^^
    #footer div .copyright {
        font-size: 13px;
    }     
    h2 {
        font-size: 15px;
    }
}