/* ------- SECCION INICIO ------- */
@import "../variables/variables";


.inicio-contenedor {
    text-align: center;
    .inicio-imagen, .inicio-titulo, .inicio-tour {
        animation-name: aparecer;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
    }
    .inicio-tour {
        display: flex;
        justify-content: space-evenly;
        font-family: $fuente;
        .primera-col, .segunda-col, .tercera-col {
            display: flex;
            flex-direction: column;
            align-items: center;
            }
        .primera-col-items, .segunda-col-items, .tercera-col-items {
            font-size: 18px;
            color: #C9D1D9;
            background-color: #222432;
            border-radius: 10px;
            border: solid #171717 3px;
            width: 100%;
            margin: 5px;
            transition: all .25s;
            &:hover {
                color: beige;
                font-size: 19px;
            }   
        }
    }
}


@media (max-width: 725px){
    .inicio-contenedor{
        .inicio-imagen {
            height: 200px;
            width: 350px;
        }
        .inicio-tour{
            .primera-col-items{
                font-size: 16px;
            }
            .segunda-col-items{
                font-size: 16px;
            }
            .tercera-col-items{
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 400px){
    .inicio-contenedor{
        .inicio-imagen {
            height: 150px;
            width: 300px;
        }
        .inicio-tour{
            .primera-col-items{
                font-size: 13px;
            }
            .segunda-col-items{
                font-size: 13px;
            }
            .tercera-col-items{
                font-size: 13px;
            }
        }
    }
}